<template>
  <div class="animation">
    {{page}}
  </div>
  
</template>

<script>
import * as THREE from "three";
import { TimelineMax } from "gsap";
// var OrbitControls = require("three-orbit-controls")(THREE);

import VTKLoader from "@/plugins/vtkloader" ;

let loader = new VTKLoader;

export default {
  mounted() {
    var camera, pos, controls, scene, renderer, geometry, geometry1, material;

    let vm = this;

    function init() {
      scene = new THREE.Scene();
      scene.background = new THREE.Color(0x000000);

      renderer = new THREE.WebGLRenderer();

      loader.load("@/assets/hellboy.vtk", function (mesh) {
        //функция - это коллбек после загрузки
        // console.log(mesh)

        let geometry = new THREE.BufferGeometry();

        let numVertices = mesh.vertices.length;

        let source = new Float32Array(numVertices * 3); //вершины координат, умноженные на 3. это 1й объект
        let target = new Float32Array(numVertices * 3);
        let cube = new Float32Array(numVertices * 3); // это массив второго обьъекта = куба
        let positions = new Float32Array(numVertices * 3); //это пустой массив точек, дефолтные точки

        geometry.addAttribute(
          "position",
          new THREE.BufferAttribute(positions, 3)
        ); //addAttribute - дефолтный атрибьют, корый отвечает за вершины . указываем в каком формате наш массив , в данном случае 3 - трехмерный. теперь у шейдера есть доступ к позиции
        geometry.addAttribute(
          "target",
          new THREE.BufferAttribute(positions, 3)
        );

        geometry.attributes.position.copyVector3sArray(mesh.vertices); // это свойство copyVector3sArray у BufferAttribute из документации , он делает из трехмерных вектор тайпет массив. mesh.vertices - массив из всех вершин объекта

        let temp = new THREE.BufferAttribute(positions, 3);
        states.push(temp.copyVector3sArray(mesh.vertices)); // в массив состояния пушим объект первый. у BufferAttribute есть метод copyVector3sArray из вершин мешей. BufferAttribute - числа расположения частиц в 3хмерном пространстве, поэтому по 3 числа. так данные быстрее передаются на видеокарту

        //дальше нам нужно сгенерировать такой же массив , из такого же количества вершин, но в виде второго объекта - куба. нужно сделать цикл по вершинам

        for (var i = 0; i <= numVertices * 3; i = i + 3) {
          //i=i+3  потому что надо по 3 сразу сгенерировать
          cube[i] = Math.random() * 2; // мы наполнили второй обьект  =куб
          cube[i + 1] = Math.random() * 2 + 1; //*2 - это чтобы куб увеличить в два раза. сам куб выстраивается от 0 до 1
          cube[i + 2] = Math.random() * 2 - 1;
        }

        geometry.addAttribute("sourse", new THREE.BufferAttribute(cube, 3)); // это тайп-массив координат куба, т.е. передаем это на видеокарту
        states.push(new THREE.BufferAttribute(cube, 3));

        // тоже взял из шпаргалки синтаксис материалов. способ использовать шейдеры чтобы анимировать. то есть в шейдер передаем изначальные данные из spu. материал - глобальная переменная
        material = new THREE.RawShaderMaterial({
          uniforms: {
            dot: {
              type: "t",
              value: new THREE.TextureLoader().load("@/assets/reddot.png"),
            },
            blend: { type: "f", value: 0 }, // по дефолту 0. число одной частицы
            size: { type: "f", value: 2.1 }, //window.devicePixelRatio }, // размер пикселя, статично передаем 2.1
          },
          // и передаем два шейдера. их скрипты в \src\templates\page_.html:
          vertexShader: `precision highp float;
attribute vec3 position;
attribute vec3 source; 
attribute vec3 target;

uniform mat4 modelViewMatrix;
uniform mat4 projectionMatrix;

uniform float size;
uniform float blend; 
uniform sampler2D sourceTex; 
uniform sampler2D targetTex; 
uniform vec2 dimensions; 
varying vec3 vColor;
void main() {
  vColor = vec3(1.0,0.,0.);
  vec3 result = source*blend + (1.-blend)*target; 
  vec4 mvPosition = modelViewMatrix * vec4( result, 1. );
  gl_PointSize = size * ( 1. / - mvPosition.z );
  gl_Position = projectionMatrix * mvPosition;
}`,
          fragmentShader: `precision highp float;
		varying vec3 vColor;
		uniform sampler2D dot 
		void main() {
			vec4 color = texture2D(dot, gl_PointCoord);
			gl_FragColor = color 
			
		}`,

          alphaTest: 0.5, //чтобы пиксели стали прозрачными
          transparent: true,
        });

        //теперь создаем сам объект. в webgl встроены все эти объекты, а THREE.js - это как обертка вокруг этих объекты. все объекты - это геометрия + материал. их все нужно добавить на сцену
        let points = new THREE.Points(geometry, material);
        scene.add(points);

        points.position.y = -2; // мы двигаем объект, чтобы он влазил в холст, вниз маленько сдвинул
        points.rotation.y = -1.6; //немного развернерм 1й объект к нам лицом

        // для анимации использует gsap . анимация по клику на бади. анимируется свойство  blend от0 до 1 и обратно
        let tl = new TimelineMax({ paused: true });
        // console.log(material);
        tl.to(material.uniforms.blend, 3, { value: 1 }, 0); // здесь 3 - это скорость анимации
        // $('body').on('click',() => {

        //   if($('body').hasClass('done')) {
        //     tl.reverse();
        //     $('body').removeClass('done');
        //   } else{
        //     tl.play();
        //     $('body').addClass('done');
        //   }
        // });
      });

      renderer.setPixelRatio(window.devicePixelRatio);
      renderer.setSize(window.innerWidth, window.innerWidth);

      var container = vm.$el;
      container.appendChild(renderer.domElement);

      camera = new THREE.PerspectiveCamera(
        70,
        window.innerWidth / window.innerHeight,
        0.001,
        100
      );
      camera.position.set(0, 0, 4); // 4 - подальше камеру открутим

      controls = new OrbitControls(camera, renderer.domElement);

      resize();
    }
    ////////

    function resize() {
      var w = window.innerWidth;
      var h = window.innerHeight;
      renderer.setSize(w, h);
      camera.aspect = w / h;
      camera.updateProjectionMatrix();
    }

    let time = 0;
    function animate() {
      time++;

      requestAnimationFrame(animate);
      render();
    }

    function render() {
      renderer.render(scene, camera);
    }

    init();
    animate();
  },

  // computed: mapState(['page']) //теперь эта компонента имеет данные для перехода между страницами
};
</script>

<style scoped>
.animation {
  position: fixed;
  z-index: 1000;
  width: 20px;
  height: 20px;
  background: red;
}
</style>


