<template>
  <nav class="navigation">
  <nuxt-link to="/"> Home</nuxt-link>
  <nuxt-link to="/about"> About</nuxt-link>
</nav>
</template>

<style>
.navigation{
  font-size: 20px;
  padding: 40px;
  text-align: right;
}
.navigation a{
  padding: 10px;
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  text-transform: uppercase;
}
.navigation .nuxt-link-exact-active{
  border-color: rgb(110, 176, 162);
}

</style>
