<template>
  <div class="layout">
    <div class="layout__content">
      <nuxt />
    </div>
    <div class="layout__navigation">
      <Navigation />
    </div>
  </div>
</template>


<script>
import Navigation from "@/components/Navigation.vue";

export default {
  comments: Navigation,
};
</script>


<style scoped>
.layout {
  background: rgb(0, 0, 0);
  font-family: Helvetica, sans-serif;
  position: relative;
}
.layout__navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.layout__content {
    font-size: 50px;
    color: rgb(20, 114, 94);
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 100px;
}
</style>